body{
  background-color: #333;
  margin: 0;
  padding: 0;
  font-family: "Lato";
}

.container{
  width: 360px;
  height: 600px;
  background-color: #08596a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #9ee6aa;
  text-align: center;
}

.container h1{
  margin-top: 125px;
  margin-bottom: 60px;
}

.tbox{
  width: 260px;
  height: 40px;
  background: #cbf4c3;
  border-radius: 10px;
  margin: 10px auto;
  color: #08596a;
}

.tbox input{
  background: none;
  border: none;
  outline: none;
  text-align: center;
  font-family: "Lato";
  line-height: 37px;
  width: 85%;
  font-size: 14px;
  color: #08596a;
}

.button{
  width: 260px;
  height: 40px;
  background: #6bcba4;
  border-radius: 10px;
  margin: 14px auto;
  display: block;
  font-family: "Lato";
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: #08596a;
  transition: .5s all ease-in-out;
}

.button:hover{
  width: 260px;
  height: 40px;
  background: #9ee6aa;
  border-radius: 10px;
  margin: 14px auto;
  display: block;
  font-family: "Lato";
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: #08596a;
}

.forgot{
  display: block;
  width: 260px;
  padding: 10px 0;
  text-decoration: none;
  color: #55b47d;
  text-align: center;
  margin: auto;
  transition: .4s all;
}

.create{
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 0;
  text-decoration: none;
  text-align: center;
  transition: .4s all;
  color: #9ee6aa;
}

a:hover{
  background: #00000040;
}
