html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

body {
  background: url(hero.jpg) no-repeat center;
  background-size: cover;
}

.overlay:before {
  animation: grain 1s steps(10) infinite;
  background-image: url(grains.png);
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.48;
  position: fixed;
  top: -110%;
  width: 300%;
}

@keyframes grain {
  0%, 100% { transform: translate(0, 0); }
  10% { transform: translate(-10%, -20%); }
  20% { transform: translate(-30%, 10%); }
  30% { transform: translate(14%, -50%); }
  40% { transform: translate(-10%, 50%); }
  50% { transform: translate(-30%, 20%); }
  60% { transform: translate(30%, 0%); }
  70% { transform: translate(0%, 30%); }
  80% { transform: translate(6%, 70%); }
  90% { transform: translate(-20%, 20%); }
}

.menu-btn {
  position: fixed;
  margin: 1.2em;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

button {
  border: none;
  background: transparent;
}

button:focus {
  outline: none !important;
}

i {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  color: #ffffff;
}

.row, .col-lg {
  margin: 0 !important;
  padding: 0 !important;

}

.col-lg {
  height: 100vh;
}

.col-lg.overlay {
  background: #323232;
  position: absolute;
  opacity: 0;
}

.overlay h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 280px;
  font-family: Jura;
  font-weight: 800;
  color: #212121;
}

ul {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding-top: 40px;
  font-family: Jura;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #a9a6a9;
}

@media(max-width: 900px) {
  ul {
    top: 60%;
  }

  li {
    padding-top: 60px;
  }

  .overlay h1 {
    font-size: 140px;
  }
}
