body{
  background-color: #2a6171;
}

.center{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.circle{
  width: 80px;
  height: 80px;
  position: relative;
  margin: auto;
}

.cir1, .cir2{
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  opacity: .8;
  animation: cir 2.3s infinite ease-in-out;
}

.cir2{
  animation-delay: -1s;
  background-color: #d7f7f5;
}

@keyframes cir {
  0%{
    transform: scale(0);
  }
  50%{
    transform: scale(1);
    background-color: #f3d516;
  }
  100%{
    transform: scale(0);
  }

}
