body{
  margin: 0;
  padding: 0;
  background-color: #070d59;
}

.loading{
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60px;
  align-items: center;
}

.objek{
  width: 5px;
  height: 60px;
  background: #f3f6c8;
  margin: 0 5px;
  border-radius: 10px;
  animation: loading 1.3s infinite;
}

.objek:nth-child(2){
  animation-delay: .2s;
}

.objek:nth-child(3){
  animation-delay: .3s;
}

.objek:nth-child(4){
  animation-delay: .4s;
}

.objek:nth-child(5){
  animation-delay: .5s;
}

.objek:nth-child(6){
  animation-delay: .6s;
}

.objek:nth-child(7){
  animation-delay: .7s;
}

.objek:nth-child(8){
  animation-delay: .8s;
}


@keyframes loading {
  0%{
    height: 10px;
  }
  50%{
    height: 60px;
    background-color: #ea9c1b;
  }
  100%{
    height: 10px;
  }

}
