html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: url('city-wallpaper-11.jpg') 50% 50% no-repeat;
  background-size: cover;
  display: table;
}

.kotak{
  padding: 3em;
  border: 2px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-color: white;
}

h2{
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: lighter;
  color: #4d4d43;
  font-size: 50px;
  text-align: center;
}

input{
  display: block;
  width: 350px;
  height: 60px;
  background-color: #4d4d43;
  opacity: 80%;
  outline: none;
  border: 1px solid transparent;
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  text-align: center;
}

button{
  margin-top: 20px;
  margin-left: 80px;
  font-family: 'Frank Ruhl Libre', serif;
  width: 200px;
  height: 60px;
  font-size: 20px;
  background-color: #4d4d43;
  color: white;
  border: transparent;
  align-items: center;
}

button:hover{
  margin-top: 20px;
  margin-left: 80px;
  font-family: 'Frank Ruhl Libre', serif;
  width: 200px;
  height: 60px;
  font-size: 20px;
  background-color: white;
  color: #4d4d43;
  border: transparent;
  align-items: center;
}
