body{
  background-color: #fefefe;
}
.container{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:120px;
  height:120px;
}
.kotak{
  width:40px;
  height:40px;
  position:relative;
  float:left;
}
.kotak::before{
  content:'';
  position:absolute;
  bottom:0;
  right:0;
  width:100%;
  height:100%;
  background: #27221a;
  animation: kotak 1.3s infinite;
}

.kotak2::before{
  animation-delay:0.1s;
}
.kotak3::before{
  animation-delay:0.2s;
}
.kotak4::before{
  animation-delay:0.3s;
}
.kotak5::before{
  animation-delay:0.4s;
}
@keyframes kotak {
  100%{
    width:0;
    height:0;
  }
}
