html, body{
  margin: 0;
  padding: 0;
  width: 100%;
}


p{
  padding-top: 20px;
  color: #20716a;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Jura;
  font-size: 20px;
}

h4{
  padding-top: 20px;
  color: #20716a;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Jura;
  font-size: 40px;
}

body{
  height: 100%;
  background-color: #182952;
}

button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button{
  background: none;
  color: #20716a;
  width: 240px;
  height: 90px;
  border: 1px solid #20716a;
  font-size: 20px;
  border-radius: 4px;
  transition: .9s;
  overflow: hidden;
  font-family: Lato;
}

button:focus{
  outline: none;
}

button:before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(20px);
    transform: translateX(-130px) skewX(-15deg);
}

button:after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(20px);
    transform: translateX(-100px) scaleX(-15deg);
}

button:hover{
  background-color: #20716a;
  color: #182952;
  border: 1px #20716a solid;
  cursor: pointer;
}

button:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: .6;
  transition: .8s;
}

button:hover:after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: .7s;
}﻿
