body, html{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Jura;
}

.bgimg{
  background: url("https://wallpaper-house.com/data/out/7/wallpaper2you_172861.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: #ffffff;
}

.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1{
  font-size: 40px;
  letter-spacing: 20px;
  font-weight: 100;
}

h4{
  font-size: 20px;
  letter-spacing: 10px;
}

#demo{
  font-weight: lighter;
  word-spacing: 20px;
}

hr{
  margin: auto;
  width: 80%;
  border: 2px solid #fff;
}
